#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .navbar-brand {
  font-size: 13px;
}
#header2-2 P {
  font-size: 36px;
  color: #f1c050;
}
#header2-2 H1 {
  font-size: 84px;
  color: #f1c050;
  text-align: center;
}
#form2-5 .mbr-section-title {
  color: #f1c050;
}
#content4-9 P {
  text-align: center;
}
#testimonials1-6 .card-footer > div {
  color: #000000;
}
#testimonials1-6 .mbr-section-title {
  color: #f1c050;
}
#contacts3-a P {
  font-size: 17px;
  text-align: left;
}
#contacts3-a UL {
  color: #f1c050;
}
#ext_menu-e .navbar-toggler {
  color: #000;
}
#content1-h P {
  font-size: 20px;
}
#contacts3-f P {
  font-size: 17px;
  text-align: left;
}
#ext_menu-j .navbar-toggler {
  color: #000;
}
#content4-m P {
  text-align: center;
}
#contacts3-k P {
  font-size: 17px;
  text-align: left;
}
#ext_menu-t .navbar-toggler {
  color: #000;
}
#contacts3-u P {
  font-size: 17px;
  text-align: left;
}
#ext_menu-10 .navbar-toggler {
  color: #000;
}
#contacts3-11 P {
  font-size: 17px;
  text-align: left;
}
